@font-face {
    font-family: TitilliumWeb-Black;
    src: url(../assets/fonts/Titillium_Web/TitilliumWeb-Black.ttf);
}

@font-face {
    font-family: TitilliumWeb-Bold;
    src: url(../assets/fonts/Titillium_Web/TitilliumWeb-Bold.ttf);
}

/* INTER */
@font-face {
    font-family: Inter;
    src: url(../assets/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf);
}

@font-face {
    font-family: TitiliumWeb-Regular;
    src: url(../assets/fonts/Titillium_Web/TitilliumWeb-Regular.ttf
    );
}

.cadastro-de-equipes {
    background-image: url(../assets/images/Banner_cadastro_de_Equipe.png);
    height: 1231px;
    padding: 82px 20px;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.fundo-blur {
    background-color: transparent;
    backdrop-filter: blur(5px);

}

.background-cadastro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: linear-gradient(to right bottom,rgba(27, 20, 38, .6),rgba(60, 3, 65, .38));
    backdrop-filter: blur(40px);
    height: 465px;
    border-radius: 10px;
}

.equipe-tittle {
    padding-bottom: 30px;
    font-family: "TitilliumWeb-Black";
    text-transform: uppercase;
    text-align: center;
    
}

.equipe-tittle hr {
    border-color: #F9AA01;
    width: 250px;
    margin-left: 25px;
}

.imputs-cadastro {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.yellow-buttom-cadastro {
   width: 272px;
}

.Equipe {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;

}

.table-tittle {
    font-family: "TitilliumWeb-Black";
    font-size: 20px;
    text-transform: uppercase;
    color: #F9AA01;
    box-shadow: 5px black;
}

main .cadastro-equipes table tbody tr {
    height: 70px;
    margin-bottom: 20px;
    border: 2px solid transparent;
    border-radius: 8px;
    background: /* fundo */ linear-gradient(to right bottom, rgba(27, 20, 38, .6), rgba(60, 3, 65, .38)) padding-box, /* fundo borda */ linear-gradient(90deg, rgba(255, 255, 255, .6), rgba(255, 255, 255, .1)) border-box;
    backdrop-filter: blur(4px);
}

main .cadastro-equipes table td {
    width: 100%;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 2px solid #F9AA01;
}